<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width", initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All experiences</h1>

        <ul>
            <% for(exp of experiences) { %>
                <a href="/experiences/<%=exp._id %>"><%=exp.username %></a>
                <%}%>
        </ul>
    
</body>
</html>