<% layout('layouts/boilerplate.ejs') -%>
    <h1>All experiences</h1>

        <ul>
            <% for(exp of experiences) { %>
                <a href="/experiences/<%=exp._id %>"><%=exp.username %></a>
                <%}%>
        </ul>
    
