<% layout('layouts/boilerplate.ejs') -%>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
  </head>
  <body>
    <form action="/experiences/create" method="POST">
      <div>
        <label for="username">username</label>
        <input type="text" id="username" name="Experience[username]"/>
      </div>
      <div>
        <label for="company">company</label>
        <input type="text" id="company" name="Experience[company]"/>
      </div>
      <div>
        <label for="year">year</label>
        <input type="text" id="year" name="Experience[year]"/>
      </div>
      <div>
        <label for="experience">experience</label>
        <textarea id="experience" name="Experience[experience]"></textarea>
      </div>
      <button type="submit">Submit</button>

    </form>

