<% layout('layouts/boilerplate.ejs') -%>

    <div class="row">
      <h1 class="text-center">New experience</h1>
      <div class="col-6 offset-3">
          <form action="/experiences/create" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
            <div class="mb-3">
              <label class="form-label" for="title">Username</label>
              <input class="form-control" type="text" id="title" name="Experience[username]" required>
              <div class="valid-feedback">
                  Looks Good
              </div>
          </div>
              <div class="mb-3">
                  <label class="form-label" for="company">Company</label>
                  <input class="form-control" type="text" id="company" name="Experience[company]" required>
                  <div class="valid-feedback">
                    Looks Good
                </div>
              </div>
              <div class="mb-3">
                  <label class="form-label" for="year">Year</label>
                  <input class="form-control" type="text" id="year" name="Experience[year]" required>
                  <div class="valid-feedback">
                    Looks Good
                </div>
              </div>
            
           <input type="file" name="resume" id="">
              <div class="mb-3">
                  <label class="form-label" for="description">Description</label>
                  <textarea class="form-control" type="text" id="description" name="Experience[experience]" required></textarea>
                  <div class="valid-feedback">
                    Looks Good
                </div>
              </div>
              <div class="mb-3">
                  <button class="btn btn-success">Add experience</button>
              </div>
          </form>
          <a href="/experiences">All experiences</a>
      </div>
  </div>

 