<% layout('layouts/boilerplate.ejs') -%>
<link rel="stylesheet" type="text/css" href="css/home.css">
<div class="A1" data-options="mode: cover-flow; height: 275px;">
    <h1>InterviewBytes</h1>
    <h3> Welcomes You</h3>
    <marquee behavior="scroll" direction="left" scrollamount="15">“The one who can share will always have a advantage in Life.”</marquee>
    </div>
    <div   class="A2">
    <p>It is web application aimed at bridging the communication gap between students having
     interviews in a company and alumnis placed in a company.
    A student who has gotten placed in some company can post his interview experience 
    and join chatroom of that company.
    Any student who is having an interview in some company can view previous experiences
     and can take cues from them.
    He can also chat with past students who were placed in some company and clear doubts
     regarding that.
    They can also schedule virtual interviews with previous students depending on availability.
    </p>
    </div>