<% layout('layouts/boilerplate.ejs') -%>


   

    <!-- Webpage Title -->
    <title>Interview Bytes</title>
    
    <!-- Styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">


    
    <!-- Navigation -->
   


   
    <div class="A1" data-options="mode: cover-flow; height: 275px; width:400px;">
        <h1 style="margin-top:20px"> InterviewBytes</h1>
        <br>
        <h3> Welcomes You</h3>
        <br>
        <marquee behavior="scroll" direction="left" scrollamount="15">“The one who can share will always have a advantage in Life.”</marquee>
        </div>

    <!-- Introduction -->
    <br>
    <div class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>It is web application aimed at bridging the communication gap between students having interviews in a company and alumnis placed in a company. A student who has gotten placed in some company can post his interview experience and join chatroom of that company. Any student who is having an interview in some company can view previous experiences and can take cues from them. He can also chat with past students who were placed in some company and clear doubts regarding that. They can also schedule virtual interviews with previous students depending on availability.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of introduction -->
  

    <!-- Features -->
    <div id="features" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="images/features-icon-1.svg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">View Past Interview Experiences</h5>
                            <p>Since Past is a measure of the future and history repeats itself 
                                We have plethora of past interview experiences straight from horses who have done it before you


                            </p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="images/features-icon-6.svg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Share Your Experiences</h5>
                            <p>Become a Part of Community by sharing 
                                your experiences so that whole lot of people can benefit and inch closer to their dreams</p>
                                <br>
                                <br>
                                <br>
                               
                        </div>
                    </div>
                    <!-- end of card -->



                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    
                

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="images/features-icon-5.svg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Chat with Horses</h5>
                            <p>Realtime chatting platform ie Interview cord 
                                which is developed by us so that you can speak directly with People have done it before
                                <br>
                                <br>
                                <br>
                            </p>
                        </div>
                    </div>
                    <!-- end of card -->

                   


                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="images/features-icon-6.svg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Community Support</h5>
                            <p>Register the website and get access to connecting with 
                                people from various companies and get all the answers you want about your dream company</p>
                                <br>
                                <br>
                               
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of features -->
  <style>
      #futar{
          background-color: black;
      }
      #fotar{
          background-color: black !important;
      }
  </style>

    
    
    	
    