.A1 {
    background-image: url("https://cutewallpaper.org/21/black-gif-background/Black-gif-background-3-GIF-Images-Download.gif");
    width: 100%;  
    height:auto;
      background-repeat: no-repeat;
      background-size:100% 100%;
    background-position: center top;
    color:white;
    }
    .A1 h1{
    padding-top:5%;
    text-align:center;
    color:white;
    font-size:6vw;
    }
    
    .A1 h3{
    text-align:center;
    color:red;
    font-size:3vw;
    }
    .A1 marquee{
    font-size:2.5vw;
    padding-left: 50px;
    padding-right:50px;
    padding-bottom:10%;
    }
    
    .A2 p{
    font-size:2vw;
    text-align:center;
    margin-left:10%;
    margin-right:10%;
    }
    